/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
	@import "bootstrap";
	@import "./*";


   .form-control {
   	margin: 0 1em;
   } 

   .form-group {
   	margin: 1em;
   }
   	
   .category {
     border-top: 2px solid #ECEEEF;
   }

   .bold {
      font-weight: bold;
   }

   .center {
      text-align: center;
   }

   .align-center {
      text-align: center;
      padding-right: 5%;
      height: 100%;
      width: auto;
      
   }

   #filings-row {
      .align-center {
         padding-top: 38%;
      }
   }

   #insiders-link {
      .align-center {
         padding-top: 22%;
      }
   }


   #news-row {
      .align-center {
         padding-top: 50%;
      }
   }

   #chart-row {
      .align-center {
         padding-top: 8%;
      }
   }


   #short-interest-row {
      .align-center {
         padding-top: 11%;
      }
   }
   #insiders-row {
      .align-center {
         padding-top: 8%;
      }
   }



